In [2]:
import pandas as pd

In [4]:
movies=pd.read_csv('final_data.csv')

In [6]:
movies.head()

,tconst,originalTitle,year,genres,Rating,director,actors,description
0,tt11545370,Mission Ulja Funk,2021.0,"Adventure,Family",6.9,Barbara Kronenberg,"Jonas Oeßel, Luc Feit, Ivan Shvedoff, Peter Tr...",Plot not available
1,tt11547828,Echoes of Violence,2021.0,"Crime,Drama,Thriller",5.2,Nicholas Woods,"Heston Horwin, Chase Cargill, Taylor Flowers, ...",A man with a fragile state of mind will battle...
2,tt11547982,The 2:11 Home,2021.0,Family,5.5,Jim Huggins,"Geno Romo, Edward Stiner, Nick Dent, Burke Sag...","12 year old astronomy geek Uja, armed with a s..."
3,tt11548822,Cow,2021.0,Documentary,7.1,Andrea Arnold,NaN,An honest policeman's quest to nab a dreaded c...
4,tt11552344,Murder at Yellowstone City,2022.0,"Crime,Drama,Mystery",5.3,Richard Gray,"Isaiah Mustafa, Zach McGowan, Thomas Jane, Ron...","The simple question: ""How does a woman get pre..."

In [32]:
movies['searchTitle'] = movies['originalTitle'].str.lower().str.replace(" ", "")

In [34]:
movies.head()

,tconst,originalTitle,year,genres,Rating,director,actors,description,searchTitle
0,tt11545370,Mission Ulja Funk,2021.0,"Adventure,Family",6.9,Barbara Kronenberg,"Jonas Oeßel, Luc Feit, Ivan Shvedoff, Peter Tr...",Plot not available,missionuljafunk
1,tt11547828,Echoes of Violence,2021.0,"Crime,Drama,Thriller",5.2,Nicholas Woods,"Heston Horwin, Chase Cargill, Taylor Flowers, ...",A man with a fragile state of mind will battle...,echoesofviolence
2,tt11547982,The 2:11 Home,2021.0,Family,5.5,Jim Huggins,"Geno Romo, Edward Stiner, Nick Dent, Burke Sag...","12 year old astronomy geek Uja, armed with a s...",the2:11home
3,tt11548822,Cow,2021.0,Documentary,7.1,Andrea Arnold,NaN,An honest policeman's quest to nab a dreaded c...,cow
4,tt11552344,Murder at Yellowstone City,2022.0,"Crime,Drama,Mystery",5.3,Richard Gray,"Isaiah Mustafa, Zach McGowan, Thomas Jane, Ron...","The simple question: ""How does a woman get pre...",murderatyellowstonecity

In [36]:
movies.to_csv("final_data.csv")

In [8]:
similarity_df=pd.read_csv("top_100_similar_movies.csv")

In [10]:
similarity_df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,0,582,7878,15355,6379,50669,6300,55150,46339,...,49706,27289,40912,11059,20006,15502,7711,45143,34132,37546
1,1,1,53603,388,2944,3146,12188,12229,5833,5257,...,51305,55037,7206,7543,14709,4243,12977,9578,7866,14557
2,2,2,12926,13517,16436,2497,2860,6282,13953,966,...,898,18332,434,15869,14699,645,2018,16718,37283,2974
3,3,3,43635,3117,4348,5017,7388,8115,8302,8902,...,16173,13639,10294,554,22736,6689,39539,11784,17520,33939
4,4,4,6768,1293,43627,305,30814,12235,34714,289,...,6997,48665,37814,39765,34592,42254,39386,53678,24808,29590

In [16]:
def top_movies(movie):
    movie_index=movies[movies['originalTitle']==movie].index[0]
    l=similarity_df.iloc[movie_index]
    d=list(l)
    for i in d[1:10]:
        print(movies.iloc[i].originalTitle)

In [24]:
top_movies("Ante Sundharaniki")

Ante Sundharaniki
Saripodhaa Sanivaaram
Martin Luther King
Bhale Bhale Magadivoy
Factory to the Workers
Run
Bullet Train
Sharon Stone. Survival Instinct
Swathi Muthyam